:root {
    --purple-light: rgb(58, 53, 83);
    --purple-dark: rgb(51, 47, 74);
    --gray:  rgb(105, 105, 105);
    --white: rgb(235, 232, 232);
    --tooltip-background: rgba(105, 105, 105, 0.7);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(180deg, var(--purple-light) 0%, var(--purple-dark) 85%, var(--gray) 100%);
}

#seats-div {
    display: flex;
    flex-direction: column;
}

#seats-div > div {
    display: flex;
    flex-direction: row; 
}

#seats-div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

#seats-div > div > div > img {
    width: 80px;
   
}

#find-seats {
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 10px;

    color: var(--white);
    background: var(--purple-light);
    border: 1px solid var(--white);
}

#seats-div > div > div > span {
    display: none;
    position: absolute;

    font-size: 12px;
    padding: 5px;
    background: var(--tooltip-background);
    color: var(--white);
    border-radius: 10px;

    margin-top: -80px;
    
}

#seats-div > div > div:hover span {
    display: block;
}